<h2><%= @restaurant.name %></h2>

<ul>
  <li> Located in:  <%= @restaurant.address %></li>
  <li> Type of cuisine:  <%= @restaurant.category %></li>
  <li> Contact:  <%= @restaurant.phone_number %></li>
</ul>


<h4> Reviews ðŸ¤©</h4>
<ul>
  <% @restaurant.reviews.each do |r| %>
    <li> <%= r.content %></li>
  <% end %>
</ul>

<%= link_to " + Add a new review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<%= link_to " âª Back to all restaurants", restaurants_path(@restaurant), class: "btn btn-danger" %>
